
__pycache__/test_session10.cpython-37-pytest-6.2.4.pyc
__pycache__/sequences.cpython-37.pyc
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
.vscode/settings.json
__pycache__/polygons.cpython-37.pyc
__pycache__/module1.cpython-37.pyc
__pycache__/module2.cpython-37.pyc
